@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Resume Project</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to The Resume Project</h2>
        <p>
            The Resume Project is a sample application to practice using Entity Framework Core 1.0 in an ASP.NET Core MVC 1.0 Web Application
        </p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p>I will put some stuff in here but not sure what yet.</p>
            </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/aspnet/Docs/tree/master/aspnet/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>