@{
    ViewData["Title"] = "Contact";
    ViewData["Message"] = "Jennifer Demiter";
 }
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>


<address>
    1928 Madeira Dr NE<br />
    Albuquerque, NM 87110<br />
    <abbr title="Phone">P:</abbr>
    915.497.2876
</address>

<address>
    <strong>Email:</strong> <a href="mailto:jdemiter@gmail.com">jdemiter@gmail.com</a><br />
   </address>
